{%extends"layout.html"%}
{% block content %}
<div class="content-section">

<div class="media">

<img class="rounded-circle account-img" src="{{ image_file }}"> <div class="media-body">

<h2 class="account-heading">{{ current_user.username }}</h2> <p class="text-secondary">{{ current_user.email }}</p> </div>


    <form action="" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div class="form-group">
    {{ form.username.label(class='form-control-label') }} 
    {{ form.username }}
    {% for error in form.username.errors %}
        <div class="text-danger">{{ error }}</div>
    {% endfor %}
</div>

<div>
    {{ form.email.label (class='form-control-label') }} 
    {{ form.email }}
    {% for error in form.email.errors %}
        <div class="text-danger">{{ error }}</div>
    {% endfor %}
</div><br>
<div class="form-group">
    {{form.picture.label}}
    {{form.picture(class='form-control-label')}}
    {%for error in form.picture.errors%}
        <span class="text-danger">{{error}}</span><br>
    {%endfor %}

</div>
        <div>
            {{form.submit(class='btn btn-outline-success')}}
        </div>
    </form>
</div>


{% endblock content %}